<!doctype html>
<html>
<head>
    <title>TraduceMe</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>TraduceMe</h1>
        <img src="img/languages.jpg" alt="Languages Profile Photo">

        <p>Acceder o crear cuenta:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Acceder</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Crear cuenta</a>

    </div>

</div>
</body>
</html>
